<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="lessons.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Lesson 01</title>
</head>

<body>
    <body>
        <div id="root">
            <header>
                <!-- text to center -->
                <h1 v-text="sitename" class="text-center"></h1>
                <button v-on:click='showCheckout'  v-show=" cartItemCount > 0" v-if="buttonvalue()" >
                     {{cartItemCount}}
    
                    <span class="fas fa-cart-plus"></span> Checkout
                    
                </button>
               <div style="display: flex; flex-wrap: wrap; " >
                <div v-for="lesson in cart2" v-show="showCartItems" >
                     <h3 v-text="lesson.title"></h3>
                    <figure>
                        <img v-bind:src="lesson.image" height="100" width="100">
                    </figure>
                    <p>Description:{{lesson.description}}</p>
                    <p>Location:{{lesson.location}}</p>
                    <p>Price:$ {{lesson.price}}</p>
                    <p>Spaces: only {{lesson.availableInventory - cartCount(lesson.id)}} are left!</p>
                    <button v-on:click='removeproduct(lesson)' v-if='canAddToCart(lesson)'>Remove from cart</button> 
    
    
                    <button disabled="disable" v-else></button>
                    </div>
    
                </div> 
    
    
            </header>